<div style="text-align:center;" class="jumbotron my-jumbotron">
  <% product_holder = Hash.new(0)%>
  <% total_price = []%>
  <%
  products.each do |v|
    product_holder[v.name] += 1
    total_price << v.price
  end
  %>
  <h3> Current Shopping Cart </h3>
  <% product_holder.each do |k,v|%>
    <div class="<%=k%>">
      <%= "#{k} x #{v}"  %><a id="item-del-btn" class="close" style="clear: both;">x</a>
    </div>
  <%end %>
    <% if total_price.empty? %>
      <h4> Shopping Cart empty </h4>
      <h4> Total: $<%="0.00"%> </h4>
    <% else %>
      <h4> Total: $<%= total_price.reduce(:+) %></h4>
    <% end %>
  <br>
</div>
